@import "base";

body {
    background: #f7f6f3 url('../images/bg.jpg') top center;
}

[role=banner] {
    background: url('../images/logo.png') center no-repeat;
    height: 159px;
    text-indent: -9999em;
}

article {
    margin: 0 auto;
    padding: 1em 15px;
    max-width: 600px;
    border-top: 1px solid #fff;
    border-bottom: 2px solid #eee;

    &.first {
        border-top: 0;
    }

    &.last {
        border-bottom: 0;
    }
}

#map {
    height: 300px;
    margin-bottom: 1em;
}