<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <link rel="stylesheet" href="/css/style.css">

        <script type="text/javascript" src="//use.typekit.com/wob5fgs.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        {{ content }}
    </body>
</html>